.text-small {
    font-size: 0.9rem !important;
}

body {
    min-height: 110vh;
    background-color: #0082c8;
    background-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.imageHeader {
    display: block;
    background-image: url("https://images.pexels.com/photos/4031818/pexels-photo-4031818.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: calc(100vh);
}

.navcontainer {
    position: absolute;
    margin: 20px;
    width: calc(100% - (100vw - 100%));
}



.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: rgba(255, 255, 255, 0.623);
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

.image{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

.cars {
    padding: 50px;
    width: 100vw;
    margin: auto;
}

.row {
    padding: 25px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.aboutHeading {
    margin-top: 50px;
    background-color: #3e97c7;
    box-shadow: 0px 10px 40px #0082c8;
}

h1.aboutHeading {
    color: white;
    text-align: center;
    box-shadow: 0px 0px;
}

h1.aboutUsBody {
    text-align: center;
    margin-bottom: 30px;
}

p.aboutUsBody {
    font-size: 150%;
    text-align: center;
}

ul.aboutUsBody li.aboutUsBody {
    list-style-type:circle;
    margin-bottom: 5px;
}

#whatIsTelehealth {
    padding-right: 200px;
}

/* Desktop View */
@media (min-width: 992px) {
    #aboutHeadingImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 600px;
    }

    div.aboutUsBody {
        margin-top: 120px;
        background-color: white;
        padding: 30px 200px 30px 200px;
    }

    #telehealthImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 500px;
    }
    .honeycomb {
        margin: 0;
        background-image: url("assets/hexb.png");
        background-repeat: repeat;
        image-resolution: 400dpi;
        background-size: 150px;
    }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
    #aboutHeadingImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 400px;
    }

    div.aboutUsBody {
        margin-top: 120px;
        background-color: white;
        padding: 30px 100px 30px 100px;
    }

    #telehealthImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 400px;
    }
    .honeycomb {
        margin: 0;
        background-image: url("assets/hexb.png");
        background-repeat: repeat;
        image-resolution: 400dpi;
        background-size: 150px;
    }
}

/* Mobile View */
@media (max-width: 767px) {
    #aboutHeadingImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 200px;
    }

    div.aboutUsBody {
        margin-top: 120px;
        background-color: white;
        padding: 30px 50px 30px 50px;
    }

    #telehealthImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 200px;
    }
    h5 {
        font-size: 300px;
    }
    .honeycomb {
        margin: 0;
        background-image: url("assets/hexb.png");
        background-repeat: repeat;
        image-resolution: 400dpi;
        background-size: 400px;
    }
}