.text-small {
    font-size: 0.9rem !important;
}

body {
    min-height: 110vh;
    background-color: #0082c8;
    background-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.honeycome {
    margin: 0;
    background-image: url("assets/hexb.png");
    background-repeat: repeat;
    image-resolution: 400dpi;
    background-size: 150px;
}

.imageHeader {
    display: block;
    background-image: url("https://sites.google.com/site/kylerrbarker/home/me.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: calc(100vh);
}

.navcontainer {
    position: absolute;
    margin: 20px;
    width: auto;
}



.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: rgba(255, 255, 255, 0.623);
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

.cars {
    padding: 50px;
    width: 100vw;
    margin: auto;
}

.row {
    padding: 25px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #gingerFamily {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    box-shadow: 0px 5px 5px;
}

.aboutHeading {
    margin-top: 90px;
    background-color: #3e97c7;
    box-shadow: 0px 10px 40px #0082c8;
}

h1.aboutHeading {
    color: white;
    text-align: center;
    box-shadow: 0px 0px;
}

#aboutHeadingImage {
    background-image: url(https://images.pexels.com/photos/4079281/pexels-photo-4079281.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: 60%;
    background-position-x: center;
    background-repeat: no-repeat;
}

div.aboutUsBody {
    margin-top: 50px;
    background-color: white;
    padding: 30px 400px 30px 400px;
}

h1.aboutUsBody {
    text-align: center;
    margin-bottom: 30px;
}

p.aboutUsBody {
    font-size: 150%;
    text-align: center;
}

ul.aboutUsBody li.aboutUsBody {
    list-style-type:circle;
    margin-bottom: 5px;
}