.text-small {
    font-size: 0.9rem !important;
}

body {
    min-height: 110vh;
    background-color: #0082c8;
    background-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.imageHeader {
    display: block;
    background-image: url("https://images.hgmsites.net/hug/sony-vision-s-concept-car_100730388_h.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: calc(100vh);
}

.navcontainer {
    position: absolute;
    margin: 20px;
    width: auto;
}



.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

.cars {
    padding: 50px;
    width: 100vw;
    margin: auto;
}

.row {
    padding: 25px;
}